---
import Header from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";

export interface Props {
	title: string;
    description: string;
}

const { title, description } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" data-wf-domain="https://FuKazee.com" data-wf-page="66d14b8e0db50bea527877c0" data-wf-site="66d10e1c8e5ef350a0c1e8de">
<head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta content={description} name="description" />
    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content="/images/homepage/logo.png" property="og:image" />
    <meta content={title} property="twitter:title" />
    <meta content={description} property="twitter:description" />
    <meta content="/images/homepage/logo.png" property="twitter:image" />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Webflow" name="generator" />
    <link href="/styles/consulthink.main.css" rel="stylesheet" type="text/css" />
    <script is:inline>
        !function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);
    </script>
    <link href="/images/homepage/logo.png" rel="shortcut icon" type="image/x-icon" />
    <link href="/images/homepage/logo.png" rel="apple-touch-icon" />
</head>
<body>
    <div class="page-wrapper">
        <Header />
        
        <div style="display:block;opacity:1" class="preloader">
            <div class="preloader-container">
                <div class="preloader-padding">
                    <div class="preloader-wrapper">
                        <div style="width:25%;height:3px" class="preloader-line">
                            <div style="width:0%" class="preloader-progress-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <main class="main-wrapper">
            <slot />
        </main>
        
        <Footer />
    </div>
    <script is:inline src="/scripts/jquery.min.js" type="text/javascript" crossorigin="anonymous"></script>
    <script is:inline src="/scripts/main.js" type="text/javascript"></script>
</body>
</html>